{% extends "BZVueBundle::parent_info.html.twig"%}
{% block parentAction %} 
#
{% endblock parentAction %}
{% block parentEnctype %}  
    
{% endblock parentEnctype %} 
  {% block parentTitre %} <i class="icon icon-phone"></i> IDENTITE {% endblock parentTitre %}
{% block parentContenu %}
    <p style="font-size: 12px;">
       <span> Nom et Prénom(s) : </span> <strong>{{ element.prenom }} {{ element.nom }}   </strong><br/>
       <span> Structure de Provenance : </span> <strong>{{ element.structuresoustutelle.nom }} ({{ element.structuresoustutelle.raisonsociale }})  </strong><br/><br/>
       <span style="color: blue"> Adresses : </span><br/>
       {%if element.user.adressecontact is null %}
           <strong> Aucune</strong>
            {% else%}
           <span> Zonde de résidence : </span><strong> {% if element.user.adressecontact.quartier is not null %} {{  element.user.adressecontact.quartier.ParentName }} - {{  element.user.adressecontact.quartier.libelle }} {% else  %} Aucune indication {% endif  %} </strong><br/>
           <span> Contact(s) : </span><strong>{%if element.user.adressecontact .telmobile is null %} pas définie {%else %} {{ element.user.adressecontact.telmobile }} {%endif %} </strong><br/>
           <span> e@mail : </span><strong>{%if element.user.email is null %} pas définie {%else %} {{ element.user.email }} {%endif %} </strong><br/>
       {% endif%}<br/>
       <span  style="color: blue"> Identité du compte : </span><br/>
       {%if element.user is null %}
           <strong> Aucune</strong>
            {% else%}
           <span> Login : </span><strong>{{ element.user.username }} </strong><br/>
           <span> Profil : </span><strong>{%if element.user.profil is null %} pas définie {%else %} {{ element.user.profil.libelle }}   {%endif %}</strong><br/>
           <span> Etat du compte : </span><strong>   {% if element.user.enabled==0 %} Inactif {%else %} Actif  {%endif %}</strong><br/>
           <span> Dernière date de connexion : </span> le <strong>  {{ element.user.lastlogin|date('d-m-Y') }}   </strong> à <strong>  {{ element.user.lastlogin|date('H:i') }}   </strong><br/>
          {% endif%}
    </p>
{% endblock parentContenu %}
{% block parentScript %}
    {{ parent() }}
<script>
</script>
{% endblock parentScript %}