<div style="display: block;" class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <form  class="ui-draggable"   style="position: relative; left: 400px; top: 95px;" action="#" method="post" >
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% block parentTitre %} AVORTEMENT DE LA REQUETE {% endblock parentTitre %}
                </div>
                <div class="panel-body">
                    <div style="color: black;font-size: 12px;" class="well">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        Expéditeur :   <strong>
                            {% if element.typeusagerclient == 'Personne physique' %}
                                {{  element.particulier.prenom }}   {{  element.particulier.nom }}   
                            {% else %}
                                {{  element.societeentreprise.nom }} ( {{  element.societeentreprise.raisonsociale }} )
                            {% endif %}</strong><br/>
                        Date d'émission : <strong>{{  element.dateEmise|date('d-m-Y') }} à {{  element.dateEmise|date('H:i') }}</strong><br/>
                        Structure Destinataire : <strong>{{  element.StructureSoustutelle.nom }}</strong><br/>
                        Catégorie de requête : <strong>{{  element.typeRequete.libelle }}</strong><br/>
                        Pièce Jointe : {% if element.filerequete is null %} <strong> Aucune</strong>{% else %}<a href="{{ asset( element.filerequete.dowloadPath) }}" target="_blank"><strong> {{ element.filerequete.nameFile }} </strong></a>{% endif %}<br/>

                    </div>
                        <p style="font-size: 12px;color: red;">                
                            Confirmez-vous l'annulation définitive de cette requête ainsi que tous les procesus de traitement liés à elle ?
                    </p>
                </div>
                <div class="panel-footer">
                    {% block parentBoutons %} 
                        <a type="button" class="btn btn-default btn-xs btn-line " href="#{{id}}" id="retour" onclick=" $.ajax({type: 'GET', url: '{{ path('retour_requete',{'id': id}) }}', cache: false, success: function (data) {
                                        $('#afficheformulaire').html(data);
                                    }, error: function () {
                                        alert('requête échouée');
                                    }});"><i class="icon icon-arrow-left"> </i> Retour</a>
                        <a type="button" class="btn btn-danger btn-xs btn-line " href="#{{id}}" id="retour" onclick=" $.ajax({type: 'POST', url: '{{ path('avorter_requeteclient',{'id': id}) }}', cache: false, success: function (data) {
                                        $('#afficheformulaire').html(data);
                                    }, error: function () {
                                        alert('requête échouée');
                                    }});">Annuler requête</a>
                        <span class='tachat_img hide'><img src="{{ asset('/images/712.GIF') }}" alt="Second slide" class='img-circle' style="height: 20px;width: 20px;"> Annulation en cours ...</span>
                        {% endblock parentBoutons %}
                </div>
            </div>
        </div>
    </form>
   
</div>