{% extends "BZVueBundle::parent_create.html.twig"%}
{% block parentAction %} 
    {{ path('enregistre_resultat',{'id': id, 'nbre': nbre})}}
{% endblock parentAction %}
{% block parentStyle %} style="position: relative; left: 500px; top: 279px;" {% endblock parentStyle %}
{% block parentTitre %} NOUVEAU  RESULTAT DU TRAITEMENT N° {{ nbre }} {% endblock parentTitre %}
{% block parentContenu %}
    
    <div style="font-size: 12px;">                
       {{ form_widget(form) }}
                {{ form_rest(form) }}
    </div>
{% endblock parentContenu %}
{% block parentBoutons %} 
    <a type="button" class="btn btn-default btn-xs btn-line " href="#" id="retour" onclick="location.reload();"><i class="icon icon-arrow-left"> </i> Retour</a>
    <button type="submit" class="btn btn-success btn-xs btn-line" >Enregitrer </button>
    <span class='tachat_img hide'><img src="{{ asset('/images/712.GIF') }}" alt="Second slide" class='img-circle' style="height: 20px;width: 20px;"> Enregistrement en cours ...</span>
    {% endblock parentBoutons %}
    {% block parentScript %}
    <script>
         $(".chzn-select").chosen();
        $('form').draggable();
  
    </script>
{% endblock parentScript %}