
{% extends "BZUserBundle::layout.html.twig"%}

{% block content_title %} <h6 style="text-align: center;text-shadow: 0px 0.5px 0.5px blue;font-size: 13px;"> ESPACE  DE  SUIVI DES TRAITEMENTS</h6>{% endblock content_title %}

{% block content_body %}

    <form  class="ui-draggable" style="position: relative; left: 10%; top:3%;margin-top: 1%;" action="#" method="post" >
        <div class="col-lg-10">
            <div class="panel panel-info">
                <div class="panel-heading" style="text-align: center;font-size: 13px;color: black;">
                    <span > SUIVI DES TRAITEMENTS</span>
                   <a class="btn btn-success btn-xs btn-rect createformulaire" href="{{ path('enregistre_cloture',{'id': element.id}) }}"   title="Cloturer la requête" style="float: right;" > <i class="icon-download-alt"> </i> Clôturer</a>
                </div>
                <div class="panel-body">
                    <div style="color: black;font-size: 12px;" class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        Expéditeur :   
                        {% if element.typeusagerclient == 'Personne physique' %}
                            <strong> {{  element.particulier.prenom }}   {{  element.particulier.nom }}   </strong><br/>
                            {% if element.particulier.usagerclient is not null %}
                                Contact(s) : <strong>  {{  element.particulier.usagerclient.adressecontact.telmobile }}      </strong><br/>                                           
                               E@mail :  <strong>{{  element.particulier.usagerclient.adressecontact.email }} </strong><br/>                                              
                               Zone de résidence :  <strong> {% if element.particulier.usagerclient.adressecontact.quartier is not null %} {{  element.particulier.usagerclient.adressecontact.quartier.ParentName }} - {{  element.particulier.usagerclient.adressecontact.quartier.libelle }} {% else  %} Aucune indication {% endif  %} </strong><br/>                                                    
                                Profession : <strong>  {{  element.particulier.profession }} </strong>  
                            {% endif %}
                        {% else %}
                            <strong>  {{  element.societeentreprise.nom }} ( {{  element.societeentreprise.raisonsociale }} )</strong><br/>
                            Contact(s) :  <strong>{{  element.societeentreprise.usagerclient.adressecontact.telmobile }} </strong><br/>                                              
                            E@mail :  <strong>{{  element.societeentreprise.usagerclient.adressecontact.email }} </strong><br/>                                              
                            Zone de résidence :  <strong>{% if element.societeentreprise.usagerclient.adressecontact.quartier is not null %} {{  element.societeentreprise.usagerclient.adressecontact.quartier.ParentName }} - {{  element.societeentreprise.usagerclient.adressecontact.quartier.libelle }} {% else  %} Aucune indication {% endif  %}</strong><br/>                                                   
                            Domaine d'activité :  <strong>{{  element.societeentreprise.domaineactivite }} </strong>
                        {% endif %}<hr/>
                        Date d'émission : <strong>{{  element.dateEmise|date('d-m-Y') }} à {{  element.dateEmise|date('H:i') }}</strong><br/>
                        Structure Destinataire : <strong>{{  element.StructureSoustutelle.nom }}</strong><br/>
                        Catégorie de requête : <strong>{{  element.typeRequete.libelle }}</strong><br/>
                        Mode de Saisine :  {% if element.modesaisine is not null %}<strong>{{  element.modesaisine.libelle }}</strong>{% else %} Aucun {% endif %}<br/>
                        Pièce Jointe : {% if element.filerequete is null %} <strong> Aucune</strong>{% else %}<a href="{{ asset( element.filerequete.dowloadPath) }}" target="_blank"><strong> {{ element.filerequete.nameFile }} </strong></a>{% endif %}<br/>
                       Code de récépissé :  <strong>{{  element.codeRecepisse }}</strong><br/>
                        Message de la Requête : <strong style="margin-left: 5px;"> {{ element.commentaireUsagerclient }} </strong><br/>
                    </div>
                    {% set nbretraitement = 0 %}
                    {% for traitement in  element.traitementrequetes  %}
                        {% if traitement.estdelete == 0 %} 
                            {% set nbretraitement =nbretraitement +1 %}
                            <div class="box">
                                <header>
                                    <div class="icons"><i class="icon-building"></i></div>
                                    <h5 style="font-size: 12px;">Traitement N° {{ nbretraitement }}
                                    Adressé à : <strong style="margin-left: 5px;margin-right: 5px;"> {{ traitement.directeurtechnique.nomPrenom }} </strong>
                                    Le : 
                                    <span class="tooltip-demo" style="font-size: 12px;">  
                                        <a  style="text-align: center;text-decoration: none;" href="#{{ nbretraitement }}"  data-container="body" data-toggle="popover" data-placement="top" 
                                            data-content="
                                            Message : {{ traitement.commentaireLancement }} 
                                            ">
                                            <strong>{{  traitement.dateLancement|date('d-m-Y') }} à {{  traitement.dateLancement|date('H:i') }}</strong>
                                        </a>
                                    </span>
                                        </h5>
                                    <div class="toolbar">
                                        <a class="btn btn-danger btn-xs btn-rect createformulaire" href="{{ path('supprimer_traitement',{'id': traitement.id,'nbre':nbretraitement}) }}"   title="Supprimer le traitement"><i class="icon-trash"></i></a>
                                        <a class="btn btn-success btn-xs btn-rect createformulaire"  href="{{ path('enregistre_resultat',{'id': traitement.id,'nbre':nbretraitement}) }}"   title="Nouveau Résultat du traitement" ><i class="icon-plus"></i></a>
                                        {% if traitement.reponsetraitementrequete is null %}<a class="btn btn-default btn-xs btn-rect createformulaire"  href="{{ path('enregistre_reponse',{'id': traitement.id,'nbre':nbretraitement}) }}"    title="Réponse de l'usager/client "><i class="icon-user"></i></a>{% endif %}
                                        <a class="btn btn-primary btn-xs btn-rect" data-toggle="collapse" data-target="#div{{ nbretraitement }}"><i class="icon-arrow-down"></i></a>
                                    </div>
                                </header>
                                <div class="body collapse in" id="div{{ nbretraitement }}" style="font-size: 12px;">
                                    
                                    {% set nbreresultat = 0 %}
                                    <div class="table-responsive"  >
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>N°</th>
                                                    <th>Date</th>
                                                    <th>PJ</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for resultat in  traitement.resultattraitementrequetes  %}
                                                    {% if resultat.estdelete == 0 %} 
                                                        {% set nbreresultat = nbreresultat+1 %}
                                                        <tr>
                                                            <td><a class="btn btn-danger btn-xs btn-rect createformulaire"  href="{{ path('supprimer_resultat',{'id': resultat.id, 'nbre': nbreresultat}) }}"    title="Supprimer le résultat"><i class="icon-remove"></i></a></td>
                                                              <td>{{ nbreresultat }}</td>
                                                            <td style="font-size: 11px;">
                                                                <span class="tooltip-demo" style="font-size: 11px;">  
                                                                    <a  style="text-align: center;text-decoration: none;" href="#{{ nbretraitement }}{{ nbreresultat }}"  data-container="body" data-toggle="popover" data-placement="top" 
                                                                        data-content="
                                                                        Message résultat : {{ resultat.commentaireResultat }} 
                                                                        ">
                                                                        <strong>{{ resultat.dateResultat|date('d-m-Y') }} à {{  resultat.dateResultat|date('H:i') }}</strong>
                                                                    </a>
                                                                </span>
                                                            </td>
                                                            <td style="font-size: 11px;">
                                                                 {% if resultat.fileretraitement is null %} <strong> Aucune</strong>{% else %}<a href="{{ asset( resultat.fileretraitement.dowloadPath) }}" target="_blank"><strong> {{ resultat.fileretraitement.nameFile }} </strong></a>{% endif %}<br/>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% if nbreresultat == 0 %} 
                                        <strong style="color: red;font-size: 9px;text-align: center;">Aucun résultat n'est rendu disponible !!!</strong>
                                    {% endif %} 
                                    {% if traitement.reponsetraitementrequete is not null %}
                                        <div class="well">
                                          Réponse de l'usager/client reçue le : 
                                            <span class="tooltip-demo" style="font-size: 12px;margin-right: 5px;">  
                                                <a  style="text-align: center;text-decoration: none;" href="#{{ nbretraitement }}"  data-container="body" data-toggle="popover" data-placement="top" 
                                                    data-content="
                                                    Message : {{ traitement.reponsetraitementrequete.commentaireReponse }} 
                                                    ">
                                                    <strong>{{  traitement.reponsetraitementrequete.dateReponse|date('d-m-Y') }} à {{  traitement.reponsetraitementrequete.dateReponse|date('H:i') }}</strong>
                                                </a>
                                            </span>
                                                    Appréciation : <strong style="color: green;margin-right: 10px;">{{  traitement.reponsetraitementrequete.mention.libelle }}</strong>
                                                    <a class="btn btn-danger btn-xs btn-rect createformulaire" href="{{ path('supprimer_reponse',{'id': traitement.reponsetraitementrequete.id, 'nbre':nbretraitement}) }}"   title="Supprimer la réponse de l'usager/client"><i class="icon-trash"></i></a>
                                                    <a class="btn btn-warning btn-xs btn-rect createformulaire" href="{{ path('modifier_reponse',{'id': traitement.reponsetraitementrequete.id, 'nbre':nbretraitement}) }}"   title="Supprimer la réponse de l'usager/client"><i class="icon-edit-sign"></i></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="panel-footer">
                    <a type="button" class="btn btn-default btn-xs btn-line " href="{{ path('requetes_encours')}}" ><i class="icon icon-arrow-left"> </i> Retour</a>
                    <a type="button" class="btn btn-success btn-xs btn-line " href="#" onclick="location.reload();"><i class="icon icon-refresh"> </i> Actualiser</a>
                </div>
            </div>
        </div>
    </form>

    <div id='afficheformulaire'>

    </div>
{% endblock content_body %}
{% block javascript %} 
    <script>
        // $('form').draggable();
        // Notifications();      
        $('.createformulaire').click(function (event) {
            var buton = $(this);
            $('#afficheformulaire').html('');
            $.ajax({
                type: 'GET',
                url: buton.attr('href'),
                cache: false,
                success: function (data) {
                    $('#afficheformulaire').html(data);
                    // $('#frm_createVille').dialog();
                },
                error: function () {
                    alert('requête échouée');
                }});
            //we dont what the browser to submit the form
            event.preventDefault();
        });

    </script>
{% endblock javascript %}
