{% extends "BZVueBundle::parent_info.html.twig"%}
{% block parentAction %} 
    {{ path('enregistre_cloture',{'id': id})}}
{% endblock parentAction %}
{% block parentStyle %} style="position: relative; left: 530px; top: 179px;" {% endblock parentStyle %}
{% block parentTitre %} CLOTURE DE REQUETE {% endblock parentTitre %}
{% block parentContenu %}
    <div style="color: black;font-size: 12px;" class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        Expéditeur :   <strong>
            {% if element.typeusagerclient == 'Personne physique' %}
                {{  element.particulier.prenom }}   {{  element.particulier.nom }}   
            {% else %}
                {{  element.societeentreprise.nom }} ( {{  element.societeentreprise.raisonsociale }} )
            {% endif %}</strong><br/>
        Date d'émission : <strong>{{  element.dateEmise|date('d-m-Y') }} à {{  element.dateEmise|date('H:i') }}</strong><br/>
        Structure Destinataire : <strong>{{  element.StructureSoustutelle.nom }}</strong><br/>
        Catégorie de requête : <strong>{{  element.typeRequete.libelle }}</strong><br/>
        Pièce Jointe : {% if element.filerequete is null %} <strong> Aucune</strong>{% else %}<a href="{{ asset( element.filerequete.dowloadPath) }}" target="_blank"><strong> {{ element.filerequete.nameFile }} </strong></a>{% endif %}<br/><br/>
    </div>
    <div style="font-size: 12px;">                
       {{ form_widget(form) }}
                {{ form_rest(form) }}
    </div>
{% endblock parentContenu %}
{% block parentBoutons %} 
    <a type="button" class="btn btn-default btn-xs btn-line " href="#" id="retour" onclick="location.reload();"><i class="icon icon-arrow-left"> </i> Retour</a>
    <button type="submit" class="btn btn-success btn-xs btn-line" >Cloturer </button>
    <span class='tachat_img hide'><img src="{{ asset('/images/712.GIF') }}" alt="Second slide" class='img-circle' style="height: 20px;width: 20px;"> Cloture en cours ...</span>
    {% endblock parentBoutons %}
    {% block parentScript %}
    <script>
         $(".chzn-select").chosen();
        $('form').draggable();
  
    </script>
{% endblock parentScript %}