{% extends "BZUserBundle::layout.html.twig"%}
{% block content_title %} 
    <h6 style="text-align: center;text-shadow: 0px 0.5px 0.5px blue;">   STATISTIQUE DES REQUÊTES PAR DEPARTEMENT </h6>
{% endblock content_title %}
{% block content_body %}
    <div class="col-lg-12" style="margin-top: 1%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span style="font-size: 13px;">EXERCICE </span>
                <select style="width: 15%;" id="getExercice" name="getExercice" class="form-control chzn-select">
                    <option value="">--Exercice--</option>
                    {% for typ  in  exercices %}
                        <option value="{{ typ.id }}" {% if typ.id==exercice %} selected="true" {% endif %}>{{ typ.libelle }}</option>
                    {% endfor %}
                </select>
               
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <table style="color: black;" class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_desc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" aria-sort="descending" style="font-size: 13px;text-align: center;">
                                        Catégorie
                                    </th>
                                    <th class="sorting_desc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" aria-sort="descending" style="font-size: 13px;text-align: center;">
                                        Nbre  émises
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="font-size: 13px;text-align: center;">
                                         Nbre résolues
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="font-size: 13px;text-align: center;">
                                        Nbre en cours de traitement
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="font-size: 13px;text-align: center;">
                                        Nbre classées fondées sans traitement
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="font-size: 13px;text-align: center;">
                                        Nbre classées non fondées
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="font-size: 13px;text-align: center;">
                                        Nbre abandonnées
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set nbre = 0 %}
                                 {% set nbre1 = 0 %}
                                {% set nbre2 = 0 %}
                                {% set nbre3 = 0 %}
                                {% set nbre4 = 0 %}
                                {% set nbre5 = 0 %}
                                {% for elt in  elements %}
                                    {% set nbre11 = 0 %}
                                    {% set nbre22 = 0 %}
                                    {% set nbre33 = 0 %}
                                    {% set nbre44 = 0 %}
                                    {% set nbre55 = 0 %}
                                    {% for element in  requetes %}
                                     {% set ok = 0 %}
                                     {% if element.typeusagerclient == 'Personne physique' %}
                                     {% if element.particulier.usagerclient.adressecontact.quartier %}
                                         {% if element.particulier.usagerclient.adressecontact.quartier.arrondissement.ville.departement.id==elt.id  %} {% set ok = 1 %}
                                                   {% endif %}
                                        {% endif %}     
                                        {% else %} 
                                            {% if element.particulier.usagerclient.adressecontact.quartier %}
                                        {% if element.societeentreprise.usagerclient.adressecontact.quartier.arrondissement.ville.departement.id==elt.id  %} {% set ok = 1 %}
                                                   {% endif %}
                                     {% endif %}
                                     {% endif %}
                                    {% if ok==1 %}
                                             {% if element.cloturerequete is null %}
                                                 {% if element.estAvorterUsagerclient==0 %}
                                                        {% if element.estFonder==1 %}
                                                             {% if element.estentraitement==1 %}
                                                                      {% set nbre1 = nbre1+1 %}
                                                                      {% set nbre11 = nbre11+1 %}
                                                                {% else %}
                                                                      {% set nbre2 = nbre2+1 %}
                                                                      {% set nbre22 = nbre22+1 %}
                                                             {% endif %}
                                                        {% else %}
                                                             {% set nbre3 = nbre3+1 %}
                                                             {% set nbre33 = nbre33+1 %}
                                                        {% endif %}
                                                    {% else %}
                                                         {% set nbre4 = nbre4+1 %}
                                                         {% set nbre44 = nbre44+1 %}
                                                 {% endif %}
                                            {% else %}
                                                 {% set nbre5 = nbre5+1 %}
                                                 {% set nbre55 = nbre55+1 %}
                                            {% endif %}
                                           {% endif %}
                                    {% endfor %}
                                    <tr class="gradeA {% if nbre%2==0 %} odd {% else %} even{% endif%}">
                                        {% set nbre = nbre+1 %}
                                       
                                        <td class="" style="font-size: 12px;">
                                            {{ elt.nomdepartement }}
                                        </td>
                                        <td class="" style="font-size: 12px;text-align: center;">
                                            {{ nbre55+nbre44+nbre33+nbre22+nbre11 }}
                                        </td>
                                        <td class="" style="font-size: 12px;text-align: center;">
                                              {{ nbre55 }}
                                        </td>
                                        <td class="" style="font-size: 12px;text-align: center;">
                                              {{ nbre11 }}
                                        </td>
                                        <td class="" style="font-size: 12px;text-align: center;">
                                             {{ nbre22 }}
                                        </td>
                                        <td class="" style="font-size: 12px;text-align: center;">
                                             {{ nbre33 }}
                                        </td>
                                        <td class="" style="font-size: 12px;text-align: center;">
                                             {{ nbre44 }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                               <tr>
                                <th style="text-align: center;">
                                    Totaux
                                </th>
                                <th style="text-align: center;">
                                    {{ nbre5+nbre4+nbre3+nbre2+nbre1 }}
                                </th>
                                <th style="text-align: center;">
                                    {{ nbre5 }}
                                </th>
                                <th style="text-align: center;">
                                    {{ nbre1 }}
                                </th>
                               <th style="text-align: center;">
                                    {{ nbre2 }}
                                </th>
                                <th style="text-align: center;">
                                    {{ nbre3 }}
                                </th>
                                 <th style="text-align: center;">
                                    {{ nbre4 }}
                                </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content_body %}
{% block javascript %} 
    <script>
       
        $('#getExercice').change(function () {
            if ($(this).val() === "" || $("#getType").val() === "")
            {

            }
            else
            {
                // alert('route de la liste des estdirecteurtechniques de la structure '+$(this).val());
                var url = '{{ path("statistique_departement",{'exercice':  'exo'  }) }}';
                url = url.replace("exo", $(this).val() === "" ? 0 : $(this).val());
                location.href = "" + url + "";
            }
        });
        // Notifications();    
     
    </script>
{% endblock javascript %}
