{% extends "BZUserBundle::layout.html.twig"%}
{% block content_title %} 
    <h6 style="text-align: center;text-shadow: 0px 0.5px 0.5px blue;">   LISTE  DES  REQUETES  EN  ATTENTES  D'ANALYSE  </h6>
{% endblock content_title %}
{% block content_body %}
    <div class="col-lg-12" style="margin-top: 1%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span style="font-size: 12px;"> LISTE DES REQUETES  NON  ENCORE  ANALYSEES  </span> 
                <a href="#" style="float: right;margin-right: 5px;color: black;" target="_blank" class="btn btn-default  btn-xs btn-rect" > <i class="icon   icon-print"></i></a>                
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <table style="color: black;" class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_desc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" aria-sort="descending" style="font-size: 13px;text-align: center;">
                                        #
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="font-size: 13px;text-align: center;">
                                        Date Emission
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="font-size: 13px;text-align: center;">
                                        Emetteur
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="font-size: 13px;text-align: center;">
                                        Pour le compte de
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="font-size: 13px;text-align: center;">
                                        Type
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set nbre = 0 %}
                                {% for element in  requete %}
                                    <tr class="gradeA {% if nbre%2==0 %} odd {% else %} even{% endif%}">
                                        {% set nbre = nbre+1 %}
                                        <td class="sorting_1" style="text-align: center;">
                                            <a href="{{ path('fiche_recepisseadmin',{'id': element.id}) }}" title="Editer la fiche de requête" class="btn btn-default btn-xs btn-rect "  target="_blank" style="font-size: 11px;"><i class="icon icon-print"> </i> </a>
                                            <a href="{{ path('avorter_requete',{'id': element.id}) }}" title="Avorter la requête"  class="btn btn-danger btn-xs btn-rect createformulaire" data-toggle="modal" data-target="#myModalu" style="font-size: 11px;"><i class="icon icon-trash"> </i> </a>
                                            <a href="{{ path('analyser_requete',{'id': element.id}) }}" title="Analyser la requête"  class="btn btn-success btn-xs btn-rect createformulaire" data-toggle="modal" data-target="#myModalu"  style="font-size: 11px;"><i class="icon icon-edit-sign"> </i> </a>
                                        </td>
                                        <td class="" style="font-size: 12px;">{{  element.dateEmise|date('d-m-Y') }} à {{  element.dateEmise|date('H:i') }}  </td>
                                        <td class="" style="font-size: 12px;">
                                            {% if element.typeusagerclient == 'Personne physique' %}
                                                {{  element.particulier.prenom }}   {{  element.particulier.nom }}   
                                            {% else %}
                                                {{  element.societeentreprise.nom }} ( {{  element.societeentreprise.raisonsociale }} )
                                            {% endif %}
                                        </td>
                                        <td class="" style="font-size: 12px;">{{  element.structuresoustutelle.nom }} </td>
                                        <td class="" style="font-size: 12px;">{{  element.typerequete.libelle }}  </td>
                                       
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id='afficheformulaire'>

    </div>
{% endblock content_body %}
{% block javascript %} 
    <script>
        // Notifications();      
        $('.createformulaire').click(function (event) {
            var buton = $(this);
            $('#afficheformulaire').html('');
            $.ajax({
                type: 'GET',
                url: buton.attr('href'),
                cache: false,
                success: function (data) {
                    $('#afficheformulaire').html(data);
                    // $('#frm_createVille').dialog();
                },
                error: function () {
                    alert('requête échouée');
                }});
            //we dont what the browser to submit the form
            event.preventDefault();
        });

    </script>
{% endblock javascript %}
